streamlit
uvicorn
python-dotenv
pydantic==1.10.13
fastapi==0.95.2
langchain
langchain-community
langchain-core
langchain-text-splitters
python-multipart
chromadb
sentence-transformers
pymupdf
groq
pypdf